* {
    padding: 0;
    margin: 0;
}

/* Global */

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

body {
    background-color: #000;
    font-family: nationale,nationale-regular,Helvetica,sans-serif;
}

/* End */

/* Header */

header {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    padding: 40px;
}


.header-main-nav {
    display: flex;
    align-items: center;
}

.logo img {
    height: auto;
    width: 143px;
    padding: 0 15px;
}

.header-sub-nav {
    display: flex;
}

.header-sub-nav li {
    padding: 0 15px;
}

.header-sub-nav a { 
    color: #ffffff;
    font-size: 1.1rem;
}

.header-sub-nav a:hover {
    color: #0ff;
}

/* End */

/* Button */

.logIn-button a {
    color: #ffffff;
    font-size: 1rem;
    font-family: nationale,nationale-regular,Helvetica,sans-serif;
    padding: 5px;
    margin: 10px;
}

.logIn-button a:hover {
    color: #0ff;
}

.freeTrial-button1 {
    text-align: center;
    font-family: nationale,nationale-regular,Helvetica,sans-serif;
    font-weight: 600;
    padding: 15px;
    border: 1px solid #0ff;
    border-radius: 3px;
    color: #0ff;
    font-size: 1rem;
}

a:hover.freeTrial-button1 {
    background-color: rgba(0, 255, 255, .30);
}

.freeTrial-button2 {
    padding: 15px 20px;
    background-color: #0ff;
    color: #000;
    font-family: nationale,nationale-regular,Helvetica,sans-serif;
    font-size: 1rem;
    font-weight: 600;
    border-color: #0ff;
    border-radius: 3px;
}

a:hover.freeTrial-button2 {
    background-color: rgba(0, 255, 255, 0.746); 
}

/* End */

/* Svg */

.svg-label-wrapper {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.svg-angle-bracket {
    width: 18px;
    height: 18px;
    fill: #fff;
}

.svgLabel {
    font-size: 1.3rem;
    color: #fff;
    font-weight: 600;
}
a:hover .svg-label-wrapper {
    text-decoration: underline;
    color: #fff;
}

/* End */

/* Mobile Images */

.cover-img-aa {
    width: 293px;
    height: 540px;
}

.cover-img-ab {
    width: 249px;
    height: 460px;
}

/* End */

/* Free trial Text */

.freeTrial-text {
    margin: 40px 0 0 0;
    font-size: 1.5rem;
    font-family: nationale,nationale-regular,Helvetica,sans-serif;
}

.freeTrial-text1 {
    color: #fff;
    font-weight: normal;
}

.freeTrial-text2 {
    padding: 10px 0;
    font-weight: normal;
    color: #fff;
}

/* End */


/* Body */

/* Container 1 */

.container-1 {
    background-image: url('img/hero-bg.png');
    background-color: rgba(137, 43, 226, 0.143);
    background-size: contain;
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    padding: 100px;
}

.section-text-wrapper {
    margin: 0 0 30px 0;
    font-family: nationale,nationale-regular,Helvetica,sans-serif;
}

.title {
    font-size: 3rem;
    color: #fff;
    font-weight: 800;
}

.subtitle {
    font-size: 3rem;
    color: #fff;
    font-weight: 800;
    padding: 0 0 50px 0;
    width: 500px;
}

/* End */

/* Container 2 */

.container-2 {
    display: flex;
    justify-content: space-between;
    padding: 100px;
    height: 80vh;
}

.section-text-wrapper-2 {
    padding: 50px 10px;
    width: 445px;    
}

.title-2 {
    font-size: 2rem;
    font-weight: 600;
    padding: 15px 0;
    color: #fff;
}

.subtitle-2 {
    color: #fff;
    font-size: 1.5rem;
    font-family: nationale,nationale-regular,Helvetica,sans-serif;
    font-weight: 300;
    line-height: 2rem;
}

.mini-album-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .5rem;
}

.mini-album-wrapper img {
    width: 210px;
    height: 210px;
}

/* End */

/* Container 3 */

.container-3 {
    background-image: url('img/playlists-bg.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    padding: 50px 100px;
}

.section-text-wrapper-3 {
    padding: 50px 0;
    width: 465px;
}

/* End */

/* Container 4 */

.container-4 {
    height: 35vh;
    transform: translateY(-25%);
    text-align: center;
    padding: 50px;
}

.content-text {
    padding: 20px;
    margin: 20px;
}

.title-3 {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    padding-bottom: 10px; 
}

/* End */

/* Footer */

footer {
    background: #09090a;
}

.footer-area {
    padding: 80px 20px 20px ;
}

/* Footer Area "A" */

.footer-area-A {
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.footer-nav {
    padding: 30px;
}

.navLink-title {
    color: #606060;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 15px 0;
}

.footer-links {
    padding: 15px;
}

.footer-links a {
    color: #fff;
}

.footer-links a:hover {
    color: #0ff;
} 

/* End */

/* Footer Area "B" */

.footer-area-B {
    display: flex;
    margin: 35px;
    padding: 20px 0;
    border-bottom: .5px solid #606060;
}

.tidal-ftn {
    color: #606060;
    line-height: 2em;
    font-size: .8rem;
    font-weight: 600;
}

.svgSocial {
    display: flex;
    padding: 0 10px;
}

.svgSocial-links {
    fill: #606060;
    width: 22px;
    height: 22px;
    padding: 0 20px;
}

a:hover .svgSocial-links {
    fill: #ffffff;
}

.footer-links {
    padding: 10px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    font-weight: normal;
}

.svg-btn-Wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.svgDevices {
    padding: 30px 0;
    width: 100%;
    height: 123px;
}


.copyrightWrapper {
    display: flex;
    align-items: center;
}

.tidal-icon {
    width: 27px;
    height: 27px;
    fill: #3f3f3f;
}

.copyright {
    color: #606060;
    font-size: .9rem;
    font-weight: 600;
    padding: 0 5px;
}

/* End */

/* Footer Area "C" */

.footer-area-C {
    display: flex;
    justify-content: space-between;
    margin: 35px;
}

.other-footerLinks {
    display: flex;
    justify-content: space-evenly;
}

.otherLinks {
    padding: 0 10px;
    font-size: .9rem;
}

.otherLinks a {
    color: #fff;
}

.otherLinks a:hover {
    color: #0ff;
}
    
/* End */
